@{
    ViewData["Title"] = "Home Page";
}


<h1 class="mt-5 custom-text-default custom-title">Log appointments</h1>
<div class="container">
    <form>
        <div class="row">
            <div class="col pl-0">
                <h2 class="custom-sub-title">Expected information</h2>
                <p class="custom-info">This information should be on the sheet that shows all of the deliveries for the day</p>
            </div>
            <div class="col-8">

            </div>
        </div>
    </form>
</div>